module httpd_shibboleth 1.0;

require {
	type httpd_t;
	type httpd_log_t;
	class file rename;
	class file unlink;
}

bool httpd_can_shibboleth false;

if (httpd_can_shibboleth) {
	allow httpd_t httpd_log_t:file rename;
	allow httpd_t httpd_log_t:file unlink;
}
