module zabbix_agent 1.0;

require {
	type zabbix_agent_t;
	type http_port_t;

	class process setrlimit;
	class tcp_socket name_connect;
}

allow zabbix_agent_t self:process setrlimit;
allow zabbix_agent_t http_port_t:tcp_socket name_connect;
